@page "/table"
@inherits LayoutComponentBase
@using MTR.Web.Client.Components
<h3>Table</h3>

<TableThreeMax />
@code {
    private bool _loading;

    protected override async Task OnInitializedAsync()
    {
        _loading = true;



        _loading = false;
    }

}
